body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100vw;
  height: 100vh;
}

.Container {
  position: relative;
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px #eeeded;
}

.ContainerLogo {
  color: rgb(27, 116, 228);
  font-weight: 900;
  font-size: x-large;
}

.ContainerLogo span {
  position: absolute;
  bottom: 20%;
  left: 1%;
}

.ContainerEventIcons {
  color: rgb(27, 116, 228);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 150%;
  width: 64px;
  margin-right: 2%;
}

.ContainerEventIcons div {
  position: relative;
  top: 30%;
}

.ClickableHeaderIcons {
  cursor: pointer;
  color: rgb(27, 116, 228);
}

.LowerHeader {
  height: 110px;
  width: 100%;
  background-color: aliceblue;
}

.MainBody {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.bd-side {
  width: 25%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.bd-middle {
  width: 60%;
  background-color: white;
}

.AllUsers {
  background-color: white;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.NamePic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.AllUsersHead {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  padding-bottom: 10px;
}

.LeftSearch {
  width: 95%;
  height: 24px;
  /* margin: 0 auto; */
  margin-top: 7px;
  margin-bottom: 12px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 10px;
  background-color: rgb(240, 242, 245);
}

.LeftSideTitle {
  font-weight: bold;
  font-size: large;
  padding-bottom: 5px;
  padding-top: 5px;
  color: rgb(27, 116, 228);
}

.AllUsers {
  padding-left: 21px;
  padding-right: 15px;
}

.AllUsersPic {
  height: 22px;
  width: 22px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
}

.AllUsersName {
  color: grey;
  padding-right: 18px;
  cursor: pointer;
}

.Groups {
  padding-left: 21px;
  padding-right: 15px;
  background-color: white;
  height: 50%;
}

.GroupName {
  color: black;
  padding-right: 18px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(27, 116, 228);
}
