.AllGroups {
  background-color: white;
  height: 30%;
  /* width: 85%; */
  display: flex;
  flex-direction: column;
  gap: 1px;
  overflow: auto;
  border-radius: 10px;
}
.AGroup {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}

.cg-btn {
  display: flex;
  width: 20px;
  padding: 1px;
  height: fit-content;
  background-color: none;
  border: none;
  margin: 32px 16px;
  box-sizing: border-box;
  justify-content: center;
  color: #1877f2;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.cg-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cg-modal {
  border-radius: 15px;
  width: 500px;
  background-color: #fdfdfd;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cg-modal-header {
  display: flex;

  padding: 10px;
  position: relative;
  justify-content: space-evenly;
  color: black;
}

.cg-modal-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: #eee;
}

.cg-modal-footer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cg-form {
  height: 250px;
  display: flex;
  flex-direction: column;
}

.cg-form > input {
  height: 40px;
}

.cg-form > input:focus {
  caret-color: #1b74e4;
  outline-color: #1b74e4;
  border-color: #1b74e4;
  /* border: #1b74e4 solid 1px; */
  outline-color: #1b74e4;
}

.cg-modal-close {
  background: #e4e6eb;
  height: 25px;
  width: 25px;
  border-radius: 15px;

  color: #606770;
  cursor: pointer;
  padding: 0.4rem;
}

.cg-submit-button {
  /* position: absolute; */
  background: #1c74e4;
  border: none;
  padding: 0.5rem 5rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;

  /* left: 40vw;
  top: 60vh; */
}
.myGroups-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 1.5rem;
  padding: 2rem;
  overflow: auto;
}

.myGroups-title {
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 0.4rem;
}

.myGroups-all {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
}

.myGroup-each {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.new {
  justify-content: fle;
}
