body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 100vw;
  height: 100vh;
}

.Container{
  position: relative;
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255,255,255); 
  box-shadow: 3px 3px #eeeded;


}

.ContainerLogo{
  color:rgb(27,116,228);
  font-weight: 900;
  font-size: 150%;

}

.ContainerLogo span{
  position:absolute;
  bottom:20%;
  left: 1%
}

.ContainerEventIcons{
  color:rgb(27,116,228);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 150%;
  width: 6%;
margin-right: 2%;
}


.ContainerEventIcons div{
  position:relative;
  top:30%;
}

.ClickableHeaderIcons{
  cursor: pointer;
  color:rgb(27,116,228);

}