/* input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
} */


.cg-btn {
  display: flex;
  width: 20px;
  padding: 1px;
  height: fit-content;
  background-color: none;
  border: none;
  margin: 32px 16px;
  box-sizing: border-box;
  justify-content: center;
  color: #1877f2;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.cg-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cg-modal {
  border-radius: 15px;
  height: 40%;
  width: 500px;
  background-color: #fdfdfd;
  color: black;
}

.cg-modal-header {
  display: flex;
  padding: 10px;
  position: relative;
  justify-content: center;
  color: black;
}

.cg-modal-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: #eee;
}

.cg-form {
  height: 250px;
  display: flex;
  flex-direction: column;
}

.cg-form > input {
  height: 12%;
}

.cg-form > input:focus {
  caret-color: #1b74e4;
  outline-color: #1b74e4;
  border-color: #1b74e4;
  /* border: #1b74e4 solid 1px; */
  outline-color: #1b74e4;
}

.cg-modal-close {
  background: #e4e6eb;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
  left: 30%;
  color: #606770;
  cursor: pointer;
  padding: 0.4rem;
}

.cg-submit-button {
  position: absolute;
  background: #1c74e4;
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 20%;
  left: 40vw;
  top: 60vh;
}

.event-banner{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 90%;
}

.event-banner-head{
  background-color: white;
}