.AllChats {
  height: 40rem;
  width: 25%;
  flex-wrap: wrap;
  /* background-color: antiquewhite; */
}

.ChatProfile {
  display: flex;
}
.ChatPic {
  display: inline-block;
  margin: 0.75rem;
  border-radius: 0.5rem;
  width: 25px;
  height: 25px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
}

.ChatTitle {
  padding: 1rem;
  font-size: 1.2rem;
  color: black;
  font-weight: 700;
}

.ChatName {
  padding: 0.1rem;
  font-size: 0.8rem;
  color: black;
  font-weight: 500;
}
