.AllChats {
  height: 100%;
  width: 35%;
  max-width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ChatProfile {
  display: flex;
  flex-direction: row;
}


.ChatPic {
  display: inline-block;
  margin: 0.75rem;
  border-radius: 0.5rem;
  width: 25px;
  height: 25px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
}

.ChatTitle {
  padding: 1rem;
  font-size: 1.2rem;
  color: rgb(27, 116, 228);
  font-weight: 700;
}

.ChatName {
  padding: 0.1rem;
  font-size: 0.8rem;
  color: black;
  font-weight: 500;
}

.GroupProfile {
  display: flex;
  flex-direction: row;
}


.GroupChats {
  height: 30%;
  display: flex;
  flex-direction: column;
}


.UserChats {
  height: 30%;
  display: flex;
  flex-direction: column;
}
