.chat-box-container {
  position: absolute;
  left: 50vw;
  top: 48vh;
  width: 25vw;
  height: 50vh;
  border-radius: 10px;
  background-color: #ffffff;
}

.chat-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.chat-box-header {
  height: 10%;
  border-bottom: 1px #eaeaea solid;
  text-align: center;
}

.chat-box-body {
  height: 80%;
  overflow: scroll;
}

.chat-box-footer {
  position: absolute;
  height: 10%;
  width: 100%;
  top: 46vh;
}

.chat-box-footer > input {
  position: absolute;
  border-radius: 15px;
  width: 60%;
  left: 7vw;
}

.chat-header-user-logo {
  display: block;
  color: #1b74e4;
  position: absolute;
  left: 2vw;
  top: 0.5vh;
  cursor: pointer;
}

.chat-header-minimize {
  color: #1b74e4;
  position: absolute;
  cursor: pointer;
  left: 20vw;
}

.chat-header-close {
  color: #1b74e4;
  position: absolute;
  left: 23vw;
  top: 1vh;
  cursor: pointer;
}

.chat-footer-image-logo {
  display: block;
  color: #1b74e4;
  position: absolute;
  left: 1.5vw;
  top: 0.4vh;
  cursor: pointer;
}

.chat-footer-emoji-logo {
  display: block;
  color: #1b74e4;
  position: absolute;
  left: 22vw;
  top: 0.4vh;
  cursor: pointer;
}

.msg-input {
  position: absolute;
  width: 80%;
  left: 3vw;
  word-wrap: normal;
  border-radius: 15px;
}
