body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  background-color: #f0f2f5;
  height: 100vh;
}

.login-container {
  position: absolute;
  width: 30vw;
  height: 50vh;
  left: 50vw;
  top: 30vh;
  border-radius: 5px;

  background-color: #ffffff;
}
.login-form {
  background-color: #ffffff;
  position: absolute;
  left: 5vw;
  top: 5vh;
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 20vw;
  height: 40vh;
}

.login-form > input {
  height: 8vh;
  border-radius: 5px;
  padding-bottom: 5;
  margin-bottom: 10px;
  font-size: large;
  /* color: #1d2129; */
}

input:focus {
  caret-color: #1b74e4;
  outline-color: #1b74e4;
  border-color: #1b74e4;
  /* border: #1b74e4 solid 1px; */
  outline-color: #1b74e4;
}

.login-button {
  background-color: #1877f2;
  height: 7vh;
  color: white;
  font-weight: 600;
  font-size: larger;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}

.login-register-button {
  background-color: #42b72a;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: large;
  cursor: pointer;
  outline: none;
  border: none;
}

.login-logo {
  position: absolute;
  left: 10vw;
  top: 45vh;
  font-weight: 900;
  font-size: xx-large;
  display: none;
}

.loginErrorMsg {
  color: red;
  position: absolute;
  left: 1000px;
  top: 250px;
  font-size: large;
}
