/* body{
    font: 1.6 helvitca;
    box-sizing: border-box;
    background-color: #F0F2F5;
} */

.Profile {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.ProfileName {
  font-size: 2rem;
  color: black;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProfileFollowing {
  color: darkgrey;
}

.ProfileFollowers {
  padding-left: 1rem;
  color: darkgrey;
}

.privacy-btn {
  display: block;
  width: 100px;
  padding: 7.5px 16px;
  height: fit-content;
  background-color: #1877f2;
  border: none;
  margin: 32px 16px;
  box-sizing: border-box;
  justify-content: center;
  color: white;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.add-post-btn {
  display: block;
  width: 100px;
  padding: 7.5px 16px;
  height: fit-content;
  background-color: #1877f2;
  border: none;
  margin: 32px 16px;
  box-sizing: border-box;
  justify-content: center;
  color: white;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.add-event-btn {
  display: none;
  width: 100px;
  padding: 7.5px 16px;
  height: fit-content;
  background-color: #1877f2;
  border: none;
  margin: 32px 16px;
  box-sizing: border-box;
  justify-content: center;
  color: white;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.group-request-btn {
  display: block;
  width: 120px;
  padding: 7.5px 16px;
  height: fit-content;
  background-color: #1877f2;
  border: none;
  margin: 32px 16px;
  box-sizing: border-box;
  justify-content: center;
  color: white;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.static-status-btn {
  display: block;
  width: 100px;
  padding: 7.5px 16px;
  height: fit-content;
  background-color: aliceblue;
  border: 2px solid #1877f2;
  margin: 32px 16px;
  box-sizing: border-box;
  justify-content: center;
  color: #1877f2;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.ProfilePicContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProfileBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ProfilePic {
  display: inline-block;
  border-radius: 0.5rem;
  width: 90px;
  height: 90px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
}

.ProfileInfo {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Profile-follow {
  display: flex;
}

.followIcon {
  display: block;
  width: 120px;
  padding: 7.5px 16px;
  height: fit-content;
  background-color: #1877f2;
  border: none;
  margin: 32px 16px;
  box-sizing: border-box;
  justify-content: center;
  color: white;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.icon-text {
  margin-left: 10px;
}
