.register-container {
  /* height: 500px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: auto;
  width: 500px;
  border: 3px solid #1877f2;
  padding: 10px;
  display: flex;
  justify-content: center; */
  height: 650px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: auto;
  width: 650px;
  border: 3px solid #1877f2;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.register-form {
  background-color: #ffffff;
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  position: fixed;
  top: 27%;
}

.register-button {
  background-color: #42b72a;
  height: 30px;
  color: white;
  font-weight: 600;
  font-size: larger;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}

.register-login-button {
  height: 30px;
  background-color: #1877f2;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
}

.register-form > input {
  border-radius: 5px;
  padding-bottom: 5;
  margin-bottom: 10px;
  font-size: large;
  width: 500px;
  height: 30px;
  text-align: center;
  border-color: #1877f2;
}

.register-form > textarea {
  height: 70px;
  border-radius: 5px;
  padding-bottom: 5;
  margin-bottom: 10px;
  font-size: large;
  text-align: center;
  line-height: 60px;
  resize: none;
}

.register-form > date {
  background-color: #f5f6f7;
}

input:focus {
  caret-color: #1b74e4;
  outline-color: #1b74e4;
  border-color: #1b74e4;
  /* border: #1b74e4 solid 1px; */
  outline-color: #1b74e4;
}

.errorMsg {
  color: red;
  font-size: large;
  margin-top: 20px;
}

.successMsg {
  color: green;
  /* position: absolute;
  left: 1000px;
  top: 60px; */
  font-size: large;
}

.avatar-upload-btn {
  background-color: pink;
  height: 30px;
  color: white;
  font-weight: 600;
  font-size: larger;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}
