.MultipleProfiles {
  background-color: white;
  height: 30%;
  /* width: 85%; */
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-radius: 10px;
}


.SingleProfile {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}

.Nav-SingleProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AllCumulativeData{
  overflow: auto;
  height: 76%;
}

.create-event-btn {
  display: flex;
  width: 20px;
  padding: 7.5px 16px;
  height: fit-content;
  background-color: #fdfdfd;
  border: none;
  margin: 32px 16px;
  box-sizing: border-box;
  justify-content: center;
  color: #1877f2;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}
